{
  "allowPrivate": true,
  "connections": {
    "incoming": {
      "ws": [{
        "scope": ["public", "local", "device"],
        "host": "::",
        "port": 9000,
        "transform": "shs",
        "http": true // serve http, see ws.use(handler)
      }],
      "net": [
        { "scope": "private", "host": "0.0.0.0", "transform": "shs", "port": 8008 }
      ]
    },
    "outgoing": {
      "ws": [{ "transform": "shs" }],
      "net": [{ "transform": "shs" }]
    }
  },
  "logging": {
     "level": "info"
  },
  "gossip": {
    "connections": "3",
    "local": "true",
    "friends": "true",
    "seed": "true",
    "global": "true"
  },
  "plugins": {
    "ssb-partial-replication": true,
    "ssb-tunnel": true
  }
}

